/**
Variables will be in css form
*/
// TODO: question.. Use these in vuetify plugin?
:root {
  --primary-color: #4426f5;
  --secondary-color: #65bcf9;
  --accent-color: #8ee7ad;
  --text-color: #0e0063;
  --bg-input: #f1f4fb;
  --text-input: #b2aecc;
  --icon-input: #b2aecc;
  --error-color: #ef5350;
  --success-color: #4caf50;
  --gradient-color: linear-gradient(to right, #4dd0e1, #4426f5);
  --custom-gradient: linear-gradient(90deg, var(--accent-color) 0%, var(--secondary-color) 50%, var(--primary-color) 100%);
  --light-white: #ffffff97;
}
@font-face {
  font-family: "Noto Color Emoji";
  src: url("/assets/fonts/NotoColorEmoji-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("/assets/fonts/Bahij_TheSansArabic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bahij Extra Bold";
  src: url("/assets/fonts/Bahij_ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/Bahij_ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Noto Color Emoji Flags";
  src: url("/assets/fonts/NotoColorEmoji-flagsonly.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Bahij TheSansArabic", sans-serif;
  font-weight: bold;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.emoji-container.emoji-countries {
  font-family: "Noto Color Emoji Flags", sans-serif !important;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
}

.flag-emoji {
  font-family: "Noto Color Emoji", sans-serif;
  font-size: 1.2em;
}

.line-spacing-2 {
  line-height: 2;
}
.v-container.v-container--fluid {
  flex-grow: 1 !important;
  padding: 0px;
}
@media (max-width: 600px) {
  .line-spacing-2 {
    line-height: 1.8;
    text-align: center;
  }
}
