.altaishirat {
    .altaishirat-bottom {
        background-color: white;
    }
    .altaishirat-middle {
        background-color: var(--bg-input);
    }
    .altaishirat-middle {
        height: 6.25rem;
    }
    .altaishirat-bottom {
        height: 12.5rem;
    }
    .altaishirat-content {
        background-image: url('/assets/images/altaishirat.png'), url('/assets/images/altaishirat-reverse.png');
        background-size: cover, cover;
    }
}