.choose-us {
    background-image: url('/assets/images/altaishirat.png'), url('/assets/images/altaishirat-reverse.png');
    background-size: cover, cover;
    .choose-us-content {
        .choose-us-top {
            .choose-us-buttons {
                top: 20px;
            }
        }
        background-color: var(--bg-input);
        .choose-us-title,
        .choose-us-desc {
            color: var(--text-color);
        }
        .choose-us-title {
            font-size: 2.25rem;
        }
        .choose-us-desc {
            font-size: 1.56rem;
        }
    }
}