.gradient-banner {
  height: 7px;
  width: 50%;
  background: linear-gradient(to right, #4dd0e1, #4426f5);
  position: absolute;
  top: 0px;
}

.status-timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.rtl-timeline {
  direction: rtl;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  flex: 1;
}

.timeline-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.timeline-content {
  text-align: center;
  max-width: 100px;
  
}

.timeline-line {
  position: absolute;
  top: 9px;
  height: 3px;
  background-color: var(--text-input);
  z-index: -1;
  width: 100%;
  left: 50%;
}

.timeline-item .timeline-line {
  background: var(--text-input);
  background-image: none;
}

.timeline-item.active.first-item .timeline-line {
  background: linear-gradient(to right, #4dd0e1, #65bcf9, #4426f5);
}

.timeline-item.active:not(.first-item):not(.last-item) .timeline-line {
  background: linear-gradient(to right, #4dd0e1, #65bcf9, #4426f5);
}

.timeline-item.active.last-item ~ .timeline-item .timeline-line,
.timeline-item.active.last-item .timeline-line {
  background: linear-gradient(to right, #4dd0e1, #65bcf9, #4426f5);
}

.timeline-item.active.last-item ~ .timeline-item .timeline-line {
  background: linear-gradient(to right, #4dd0e1,#65bcf9, #4426f5);
}

.rtl-timeline .timeline-line {
  right: 50%;
  left: auto;
}
