.home-landing {
    background-image: url('/assets/images/landing-bg.png');
    background-size: cover;
    padding-top: 80px;

    .landing-content {
        .landing-title {
            color: white;
            line-height: 5.7rem;

            .top {
                background-color: var(--primary-color);
                font-size: 2rem;
            }

            .bottom {
                font-weight: 600;
                font-size: 3rem;
            }
        }
    }
    .landing-cards {
        gap: 100px;
    }
    .landing-plane {
        bottom: 0;
        left: 0;
        width: 30%;
    }
}

@media(max-width: 75rem) {
    .home-landing {
        min-height: 56.25rem;
    }
}

@media(max-width: 62rem) {
    .home-landing {
        .landing-plane {
            width: 50%;
        }
    }
}

@media(max-width: 48rem) {
    .home-landing {
        min-height: 100vh;
        .landing-content {
            .landing-title {
                line-height: 4rem;
                .top {
                    font-size: 1.5rem;
                }
    
                .bottom {
                    font-size: 2rem;
                }
            }
        }
        .landing-cards {
            flex-direction: column;
            margin-top: 100px;
        }
        .landing-plane {
            width: 100%;
        }
    }
}

@media (max-width: 31.25rem) {
    .home-landing {
        .landing-content {
            .landing-title {
                line-height: 3rem;
                .top {
                    font-size: 0.8rem;
                }
    
                .bottom {
                    font-size: 1.4rem;
                }
            }
        }
    }
}