.text-input {
  font-family: "Bahij Extra Bold", sans-serif;
  border-radius: 23px;

  .input-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
}
.v-text-field {
  outline: none !important;
}
.v-input__control {
  .v-field {
    border: none !important;
  }
}
.v-input__control {
  .v-field__outline {
    display: none;
  }
  .v-field {
    padding-top: 2.1px !important;
    padding-bottom: 2.1px !important;
    height: auto !important;

    input {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
.v-text-field:has(input:focus) {
  .v-input__control:has(.v-field--active) {
    outline-color: var(--primary-color);
    outline-style: solid;
    outline-width: 2px;
  }
}
.text-field-wrapper :deep(.v-field) {
  border-radius: inherit;
}

.text-field-input {
  border-radius: inherit;
}
/* Apply custom styling to target the actual input */
.custom-text-field :deep(.v-field__input) {
  border-radius: v-bind(
    'props.textInputClass.includes("rounded-s-xl") ? "0 8px 8px 0" : "inherit"'
  );
}

/* If we have RTL direction */
:deep([dir="rtl"]) .custom-text-field .v-field__input {
  border-radius: v-bind(
    'props.textInputClass.includes("rounded-s-xl") ? "8px 0 0 8px" : "inherit"'
  );
}

/* Target the field outline to match */
.custom-text-field :deep(.v-field__outline) {
  border-radius: v-bind(
    'props.textInputClass.includes("rounded-s-xl") ? "0 8px 8px 0" : "inherit"'
  );
}

/* For RTL field outline */
:deep([dir="rtl"]) .custom-text-field .v-field__outline {
  border-radius: v-bind(
    'props.textInputClass.includes("rounded-s-xl") ? "8px 0 0 8px" : "inherit"'
  );
}

.shadow-all-round {
  .v-input__control {
    border-radius: 23px;

    box-shadow: 0 4px 16px -5px rgba(0, 0, 0, 0.1),
      0 -4px 11px -16px rgba(0, 0, 0, 0.1), 4px 0 6px -1px rgba(0, 0, 0, 0.1),
      -4px 0 6px -1px rgba(0, 0, 0, 0.1);

    /*
      -2px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 0px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 4px -1px rgba(0, 0, 0, 0.1), 0px -2px 4px -1px rgba(0, 0, 0, 0.1)
      */
  }
}

.v-locale--is-rtl {
  .phone-component {
    .shadow-all-round {
      .v-input__control {
        box-shadow: none;

        /*
          -2px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 0px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 4px -1px rgba(0, 0, 0, 0.1), 0px -2px 4px -1px rgba(0, 0, 0, 0.1)
          */
      }
    }
  }
}
