.employment-card {
    box-shadow: 0 0 10px 10px white;
    .employment-image {
        transform: translate(-50%, -50%);
        width: 45px;
        height: 50px;
        transition: 0.3s;
    }
    .employment-card-title,
    .employment-card-desc {
        color: var(--text-color);
    }
    .employment-card-title {
        border-right: 4px solid var(--accent-color);
    }
}