.home-banner {
    background-color: var(--bg-input);
    .home-banner-content{
        width: fit-content;
        margin: 0 auto;
        .home-banner-title ,
        .home-banner-info {
            color: var(--text-color);
        } 
        .home-banner-title {
            background-color: var(--accent-color);
            .home-banner-empty {
                width: 10rem;
            }
        }
        .home-banner-image {
            margin: -50px auto 0;
            width: 8.125rem;
            height: 8.125rem;
        }
    }
}

@media (max-width: 48rem) {
    .home-banner {
        .home-banner-content{
            .home-banner-title {
                font-size: 1rem;
                .home-banner-empty {
                    width: 6.875rem;
                }
            }
            .home-banner-image {
                width: 5.625rem;
                height: 5.625rem;
            }
            .home-banner-info {
                font-size: 0.88rem;
            }
        }
    }
}