.rating-holder {
    position: relative;
    width: 100%;

    .rating-title,
    .rating-persent {
        color: var(--text-color);
    }

    .rating-title {
        font-size: 1.25rem;
    }

    .rating-persent {
        font-size: 0.8rem;
    }

    .rating {
        position: relative;
        height: 15px;
        background-color: white;
        z-index: 1;


        .rate {
            position: absolute;
            background-color: var(--secondary-color);
            top: 0;
            z-index: 2;
            height: 100%;

        }
    }
}