.locale__router{
    text-decoration: none;
    color: var( --text-color);
}

.manage-account-btn{
    .locale__router{
        
        color: #4426f5 !important;

    @media (max-width: 550px) {
      font-size: 0.8rem !important;
      padding: 0 12px !important;
    }
  
    @media (max-width: 400px) {
      align-self: flex-end;
      margin-top: 8px;
      padding: 0 8px !important;
      height: 30px !important;
    }
  }}