.section-title {
    .section-title-content {
        .section-title-main {
            font-weight: 800;
        }
        .section-title-colors {
            span {
                display: inline-block;
                height: 3px;
                &.section-title-accent {
                    background-color: var(--accent-color);
                    
                }
                &.big-width {
                    width: 14px;
                }
                &.small-width {
                    width: 6px;
                }
                &.section-title-primary {
                    background-color: var(--primary-color);
                }
                &.section-title-transparent {
                    width: 4px;
                }
            }
        }
    }
}